<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-pills justify-content-center" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Ver en Lista</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Ver en Mapa</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
      <div class=" card mb-3">
        <img class="card-img-top" src="../../../assets/img/cantera.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">La Cantera</h4>
          <p class="card-text">Av. Morán Valverde y Quitumbe Ñan. Sector Sur</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class=" card mb-3">
        <img class="card-img-top" src="../../../assets/img/fut.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">De Puntin</h4>
          <p class="card-text">Av. Naciones Unidas entre 6 de Diciembre y Shyris</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class=" card mb-3">
        <img class="card-img-top" src="../../../assets/img/joga_bonito.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Joga Bonito</h4>
          <p class="card-text">Av. Amazonas N36-152 y Naciones Unidas</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class=" card mb-3">
        <img class="card-img-top" src="../../../assets/img/justo.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Justo 5</h4>
          <p class="card-text">Cantón Rumiñahui ciudad de Sangolquí, Av. Santa Clara s/n y Av. General Rumiñahui.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class=" card mb-3">
        <img class="card-img-top" src="../../../assets/img/planeta.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Planeta Racing</h4>
          <p class="card-text">Av. Pedro Vicente Maldonado S11-122. </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class=" card mb-3">
        <img class="card-img-top" src="../../../assets/img/supergol.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Supergol</h4>
          <p class="card-text">Av. Occidental s/n y Edmundo Carvajal.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="profile" role="tabpanel">...</div>
  </div>
</div>
