<div class="container">
  <div class="row">
    <h1 class="display-3  text-center">Retos diarios</h1>  <br>
  </div>
  <div class="row herramientas justify-content-between">
    <div class="col-4 text-left">
      <input class="form-control" type="text" placeholder="Buscar aqui" id="example-text-input">
      <i class="fa fa-search fa-2x" aria-hidden="true"></i>
    </div>
    <div class="col-4 text-right">
      <i class="fa fa-bars fa-3x" aria-hidden="true"></i>
      <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
    </div>


  </div>
  <div class="row">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">

        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Saca tu 6 enfermos</h5>
          <small>20:00 - 05/06/2017</small>
        </div>
        <div class="row">
          <div class="col-2 align-self-center text-center">
            <i class="fa fa-grav fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-10 text-left">
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Canchas 6 de julio</p>
            <small>Por Juanito Perez</small>
            <small><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></small><br>
            <button class="btn badge-info">Aceptar</button>
          </div>
        </div>

      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">

        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Saca tu 6 enfermos</h5>
          <small>20:00 - 05/06/2017</small>
        </div>
        <div class="row">
          <div class="col-2 align-self-center text-center">
            <i class="fa fa-grav fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-10 text-left">
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Canchas 6 de julio</p>
            <small>Por Juanito Perez</small>
            <small><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></small><br>
            <button class="btn badge-info">Aceptar</button>
          </div>
        </div>

      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">

        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Saca tu 6 enfermos</h5>
          <small>20:00 - 05/06/2017</small>
        </div>
        <div class="row">
          <div class="col-2 align-self-center text-center">
            <i class="fa fa-grav fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-10 text-left">
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Canchas 6 de julio</p>
            <small>Por Juanito Perez</small>
            <small><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></small><br>
            <button class="btn badge-info">Aceptar</button>
          </div>
        </div>

      </a>
    </div>
  </div>

</div>
