.container{
  text-align: center;
}
.list-group-item.active{
  background-color: darkgreen;
}
.list-group{
  width: 100%;
}
.herramientas{
  padding-top: 3%;
  padding-bottom: 3%;

}
.herramientas .form-control{
  display: inline-block;
  width: 80%;
}
