<div class="title" >
  <h1> MINIFOOTBALL</h1>
  <img id="img-title" src="../../../assets/img/football.png">
</div>
<div class="contenedor">
  <div class="card mb-3 content">
    <img class="card-img" src="../../../assets/img/cantera.png" alt="Card image" data-toggle="modal" data-target="#example">
    <div class="card-block">
      <h4 class="card-title">UEFA Champions League</h4>
    </div>
  </div>
  <div class="card mb-3 content">
    <img class="card-img" src="../../../assets/img/fut.jpg" alt="Card image" data-toggle="modal" data-target="#example">
    <div class="card-block">
      <h4 class="card-title">Fut Seven</h4>
    </div>
  </div>
  <div class="card mb-3 content">
    <img class="card-img" src="../../../assets/img/supergol.jpg" alt="Card image" data-toggle="modal" data-target="#example">
    <div class="card-block">
      <h4 class="card-title">UEFA Champions League</h4>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="example" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalLabel">Nombre Campeonato</h4>
      </div>
      <br>
      <div class="modal-body">
        <h4>INSCRIPCIONES ABIERTAS</h4>
        <ul>
          <li>$200 por equipo</li>
          <li>Maximo 5 jugadores</li>
        </ul>
        <h4>PRIMER PREMIO</h4>
        <h5>USS 400 Dolares </h5>
        <ul>
          <li>USS 200 Dolares  en Consumo</li>
          <li>Copa y Medallas</li>
        </ul>
        <h4>SEGUNDO PREMIO</h4>
        <h5>USS 400 Dolares  en Consumo</h5>
        <ul>
          <li>Medallas</li>
        </ul>
        <h4>CONTACTOS</h4>
        <ul>
          <li>098646718</li>
          <li>098342718</li>
        </ul>
        <h4>INICIA EL 30/09/2017</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
